<%- include('partials/header'); -%>

<div class="row mt-5 text-center">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card" >
            <img src="images/lendBooks.jpg" class="card-img-top crop-home" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lend a Book</h5>
              <p class="card-text">Help a student in need by lending the books you have</p>
              <a href="/lendBook" class="btn btn-dark">Lend Now</a>
            </div>
          </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card" >
            <img src="images/rentBook.jpg" class="card-img-top crop-home" alt="...">
            <div class="card-body">
              <h5 class="card-title">Borrow a Book</h5>
              <p class="card-text">Search the book you want from our library</p>
              <a href="/rentBook" class="btn btn-dark">Borrow Now</a>
            </div>
          </div>
    </div>
</div>

<%- include('partials/footer'); -%>