<%- include('partials/header'); -%>
<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
      <h1 class="display-4">Thank you for helping a student in need</h1>
      <p class="lead mt-2">Your book has been listed. Note your<strong> book id: <%=book._id%></strong>  <a href="/">Go to Home Page</a></p>
      
    </div>
  </div>

  
<%- include('partials/footer'); -%>