<%- include('partials/header'); -%>
<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
      <h1 class="display-4"><%=heading%> </h1>
      <p class="lead mt-2"><%=subHeading%> <a href="/">Go to Home Page</a></p>
      
    </div>
  </div>

  
<%- include('partials/footer'); -%>